@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Space+Grotesk&display=swap');
/* .App{
  background-color: #edf2f8 !important;
} */
:root{ 
  --primary-color: #4070f4 !important;  
  --bg:#edf2f8 !important;
  --darkbg:#0f1624 !important;
  --secondary-color:lightslategray;
}
:root{
  --font1: 1.25rem;
  --font2:1rem;  
  --pad1:3rem !important;
  --lheight:2rem;
  --radius:0.4rem;
}
 
:root{
  --fontf1: 'Poppins', sans-serif;
  --profilew:22rem;
  --profileh:22.3rem;
}
#notworking{
  background-color: white !important;
}

 @media only screen and (max-width: 650px) {
  .myNavbar{
   padding: 0rem 0rem !important ;
  }
  #home{
   padding: 0rem 0rem !important ;
  }
  #projects{
   padding: 0rem 0rem !important ;
  }

}
 @media only screen and (max-width: 994px) {
   #hideNavbar{
     display: none !important;
   }
   #home{
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
   }
   #buttons{
    margin: 0.5rem 0  !important;
    gap: .9rem !important;
   }
   .myNavbar{
    padding: 0rem 0rem !important ;
   }

}
